.container h1 {
  font-size: 1.9em;
}

td.directoryname {
  padding-right: 41px;
}

td.filename {
  padding-right: 18px;
}

td.name i.icon-folder-close {
  float: left;
  padding-right: 9px;
}

td.name span {
  display: block;
  float: left;
  margin-left: -30px;
  width: 100%;
}

input.snap-size {
  width: 100%;
  margin-left: 30px;
}

#folder_table i.icon-folder-close {
  padding: 2px;
}

img.logo-front {
  float: left;
  padding-right: 40px;
}
