body > header {
  background-color: grey;
  border-bottom: 3px solid black;
}

body > header a, body > header a:hover  {
  color: #333333;
  text-decoration: none;
  display: block;
}

body > header img.logo {
  margin: 10px 30px;
}

body > header h1 {
  font-size: 3em;
  vertical-align: middle;
  display: inline;
}

.container h1 {
  font-size: 1.9em;
}

td.directoryname {
  padding-right: 41px;
}

td.filename {
  padding-right: 18px;
}

td.name i.icon-folder-close {
  float: left;
  padding-right: 9px;
}

td.name span {
  display: block;
  float: left;
  margin-left: -30px;
  width: 100%;
}

input.snap-size {
  width: 100%;
  margin-left: 30px;
}

#folder_table i.icon-folder-close {
  padding: 2px;
}

img.logo-front {
  float: left;
  padding-right: 40px;
}
