{% extends 'page.html' %}
{% load i18n %}
{% load url from future %}

{% block headline %}{{ path|last|last }}{% endblock %}

{% block content %}
<ul class="breadcrumb">
{% for directory, name in path %}
  <li>
    <a href="{% url 'fileserver_directory' directory %}">{{ name }}</a>
    <span class="divider">/</span>
  </li>
{% endfor %}
</ul>
{% if directory.is_empty %}
<div>
  <p>
    <i>{% trans 'This directory is empty.' %}</i><br>
    <a href="{% url 'fileserver_upload' full_path %}">
      {% trans 'Do you whant to upload some files?' %}
    </a>
  </p>
</div>
{% else %}
<table id="folder_table" class="table table-bordered">
  <tr>
    <th width="85%"><a href="{{ name_url }}">{% trans 'Name' %}</a></th>
    <th><a href="{{ size_url }}">{% trans 'Size' %}</a></th>
  </tr>
  {% for subdirectory, url, items in directory.iter_subdirectories %}
  <tr>
    <td>
      <a href="{{ url }}">
        <i class="icon-folder-close"></i>{{ subdirectory }}
      </a>
    </td>
    <td>{{ items }}</td>
  </tr>
  {% endfor %}
  {% for file, file_url, size in directory.iter_files %}
  <tr>
    <td><a href="{{ file_url }}">{{ file }}</a></td>
    <td>{{ size }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock content %}
