{% extends 'page.html' %}
{% load i18n %}
{% block content %}
<table class="table table-bordered">
  <tr>
    <th width="85%">{% trans 'Name' %}</th>
    <th>{% trans 'Size' %}</th>
  </tr>
  {% if back_url %}
  <tr>
    <td><a href="{{ back_url }}">{% trans 'back' %}</a></td>
  </tr>
  {% endif %}
  {% for subdirectory, url, items in directory.iter_subdirectories %}
  <tr>
    <td><a href="{{ url }}">{{ subdirectory }}</a></td>
    <td>{{ items }}</td>
  </tr>
  {% endfor %}
  {% for file, file_url, size in directory.iter_files %}
  <tr>
    <td><a href="{{ file_url }}">{{ file }}</a></td>
    <td>{{ size }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
