{% extends 'page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block headline %}{% trans 'Wellcome to' %} Fileserver{% endblock headline %}

{% block content %}
<div class="hero-unit">
    <img src="{% static 'fileserver/img/logo.png' %}" class="logo-front">
  {% blocktrans %}<p>Wellcome to Fileserver. This is a place for you to store
    and exchange some of your data. You can upload and downlaod files, create
    directorys and use some other little features.
    </p><p>Have fun!</p>{% endblocktrans %}
    <a href="{% url 'fileserver_browse' full_path %}" class="btn btn-primary btn-large">
      {% trans 'Browse And Download Files' %}
    </a>
    <a href="{% url 'fileserver_upload' full_path %}" class="btn btn-primary btn-large">
      {% trans 'Upload Files' %}
    </a>
  </p>
  </div>


{% endblock content %}
