{% load url from future %}
{% load i18n %}
<ul class="nav nav-tabs">
  {% url 'fileserver_browse' full_path as url %}
  <li{% if request.path == url %} class="active"{% endif %}>
    <a href="{{ url }}">
      {% trans 'Browse' %}
    </a>
  </li>

  {% url 'fileserver_upload' full_path as url %}
  <li{% if request.path == url %} class="active"{% endif %}>
    <a href="{{ url }}">
      <i class="icon-share-alt"></i> {% trans 'Upload' %}
    </a>
  </li>

  {% url 'fileserver_mkdir' full_path as url %}
  <li{% if request.path == url %} class="active"{% endif %}>
    <a href="{{ url }}">
      <i class="icon-folder-open"></i> {% trans 'Create Directory' %}
    </a>
  </li>
  {% if not directory.is_empty and is_admin %}
    {% url 'fileserver_edit_directory' full_path as url %}
    <li{% if request.path == url %} class="active"{% endif %}>
      <a href="{{ url }}">
        <i class="icon-wrench"></i> {% trans 'Edit Directory' %}
      </a>
    </li>
  {% endif %}
</ul>
