<!DOCTYPE html>
{% load static from staticfiles %}
{% load url from future %}
{% load i18n %}
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fileserver/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fileserver/css/fileserver.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'fileserver/img/favicon.png' %}">
  </head>
  <body>
    <header>
      <a href="{% url 'fileserver_frontpage' %}">
        <img class="logo" src="{% static 'fileserver/img/logo.png' %}" alt="" width=80px>
        <h1>Fileserver</h1>
      </a>
    </header>
    {% block body %}
    {% endblock body %}
    <div class="container">
      <hr>
      <footer>&copy; 2012 by ostcar and ikarus</footer>
    </div>
    {% block scripts %}
      <script type="text/javascript" src="{% static 'fileserver/js/jquery-1.8.0.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'fileserver/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'fileserver/js/fileserver.js' %}"></script>
      <script type="text/javascript">
      $(document).ready(function() {
        $(".alert").alert();
        $('form input:visible:first').focus();
      });
      </script>
    {% endblock scripts %}
  </body>
</html>
